/* Variables */
$font-primary: "Brauer NeueVN";
$font-secondary: "Montserrat";

$image-banner: "../images/common/banner-bg.svg";
$image-footer: "../images/common/footer-bg.png";
$image-footer-mobile: "../images/common/footer-bg-mobile.png";
$image-wave1: "../images/common/wave-1.svg";
$image-wave2: "../images/common/wave-2.svg";
$image-wave3: "../images/common/wave-3.svg";
$image-wave4: "../images/common/wave-4.svg";
$image-stars: "../images/teachers/stars.svg";

/* Mixin Responsive */

$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extra-width: 1200px;

@mixin SM {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin MD {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin LG {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin XL {
  @media (max-width: #{$extra-width}) {
    @content;
  }
}

/* Mixin Styles */

@mixin FramesVisibleHidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@mixin FramesVisibleShow($display: block) {
  display: $display;
  opacity: 1;
  visibility: visible;
}

@mixin FramesBigTextShadow($color, $color-shadow) {
  color: $color;
  text-shadow: $color-shadow 9px 0 0, $color-shadow 8.9445px 0.997944px 0,
    $color-shadow 8.77869px 1.98358px 0, $color-shadow 8.50461px 2.94475px 0,
    $color-shadow 8.12565px 3.86961px 0, $color-shadow 7.64647px 4.74674px 0,
    $color-shadow 7.07299px 5.56533px 0, $color-shadow 6.41227px 6.31528px 0,
    $color-shadow 5.67248px 6.98735px 0, $color-shadow 4.86272px 7.57324px 0,
    $color-shadow 3.99299px 8.06573px 0, $color-shadow 3.07402px 8.45875px 0,
    $color-shadow 2.11714px 8.74744px 0, $color-shadow 1.13414px 8.92825px 0,
    $color-shadow 0.137162px 8.99895px 0, $color-shadow -0.861512px 8.95867px 0,
    $color-shadow -1.84956px 8.8079px 0, $color-shadow -2.8148px 8.5485px 0,
    $color-shadow -3.74532px 8.18368px 0, $color-shadow -4.62965px 7.71792px 0,
    $color-shadow -5.45689px 7.15698px 0, $color-shadow -6.21682px 6.50777px 0,
    $color-shadow -6.90009px 5.77831px 0, $color-shadow -7.49825px 4.97757px 0,
    $color-shadow -8.00394px 4.11545px 0, $color-shadow -8.41092px 3.20258px 0,
    $color-shadow -8.71416px 2.2502px 0, $color-shadow -8.90993px 1.27008px 0,
    $color-shadow -8.99582px 0.274291px 0, $color-shadow -8.97076px -0.72488px 0,
    $color-shadow -8.83507px -1.71511px 0, $color-shadow -8.59041px -2.68419px 0,
    $color-shadow -8.23981px -3.62017px 0, $color-shadow -7.78758px -4.51149px 0,
    $color-shadow -7.23931px -5.34718px 0, $color-shadow -6.60176px -6.11692px 0,
    $color-shadow -5.88279px -6.81122px 0, $color-shadow -5.09127px -7.42152px 0,
    $color-shadow -4.23696px -7.94029px 0, $color-shadow -3.33039px -8.36113px 0,
    $color-shadow -2.38275px -8.67885px 0, $color-shadow -1.40572px -8.88954px 0,
    $color-shadow -0.411357px -8.99059px 0, $color-shadow 0.58808px -8.98077px 0,
    $color-shadow 1.58026px -8.86018px 0, $color-shadow 2.55296px -8.63032px 0,
    $color-shadow 3.49417px -8.29402px 0, $color-shadow 4.39229px -7.85543px 0,
    $color-shadow 5.23623px -7.31996px 0, $color-shadow 6.0156px -6.69422px 0,
    $color-shadow 6.72078px -5.98591px 0, $color-shadow 7.34307px -5.20378px 0,
    $color-shadow 7.87479px -4.35748px 0, $color-shadow 8.3094px -3.45743px 0,
    $color-shadow 8.64153px -2.51474px 0, $color-shadow 8.86709px -1.54104px 0,
    $color-shadow 8.98328px -0.548328px 0;
}

@mixin FramesFlex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: column
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin FramesPosition(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $position: absolute
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $position;
}

@mixin FramesFont(
  $font-size: medium,
  $line-height: normal,
  $font-weight: normal,
  $font-family: $font-primary
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: $font-family, sans-serif;
}

@mixin FramesBackgroundImage(
  $url,
  $size: cover,
  $position: 0% 0%,
  $repeat: no-repeat
) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

.ap-container {
  max-width: 1920px;
  margin: 0 auto;
  font-family: $font-primary, sans-serif;
  overflow: hidden;
}

.ap-header {
  @include FramesBackgroundImage($image-banner, cover, center);
  position: relative;
  width: 100%;
  min-height: 964px;
  &-nav {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    @include LG {
      width: 90%;
    }
    .nav-item {
      padding: 5px 0;
      margin: 0 15px;
      @include MD {
        margin-bottom: 15px;
      }
      .nav-link {
        @include FramesFont(20px, 28px, 600);
        letter-spacing: 0.15px;
        color: #fff;
        @include LG {
          text-align: center;
        }
        &.dropdown-toggle::after {
          display: none;
        }
      }
      .navbar-toggler {
        &:focus {
          outline: none;
        }
      }
      &:hover {
        color: #263238;
        background-color: #fff;
        border-radius: 8px 8px 0px 0px;
        @include MD {
          background-color: transparent;
        }
        .dropdown-menu,
        .dropdown-menu:hover,
        .dropdown-submenu:hover ul.dropdown-menu {
          opacity: 1 !important;
          visibility: visible !important;
          display: block !important;
        }
        a.nav-link {
          color: #2576b9;
          @include MD {
            color: #ffd95c;
          }
        }
      }
      &.dropdown {
        .dropdown-menu {
          border-width: 0;
          border-radius: 10px;
          border-top-left-radius: 0;
          border-top-width: 3px;
          border-top-color: transparent;
          padding: 0;
          margin: 0;
          box-shadow: 0 8px 16px #00000026;
          @include MD {
            background-color: transparent;
            box-shadow: none;
          }
          .dropdown-item {
            font-weight: 500;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 10px;
            @include MD {
              color: #bcdaf2;
              text-align: center;
            }
            &:hover {
              color: #2576b9;
              background-color: #e3f0f9;
            }
            &.special {
              color: #e94286;
            }
          }
        }
      }
    }
    &-mobile {
      &.show {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #2576b9;
        z-index: 100;
      }
      &-close {
        position: absolute;
        top: 24px;
        right: 32px;
        z-index: 10;
        display: none;
        @include LG {
          display: block;
        }
      }
      &.show &-close {
        display: block;
      }
      @include LG {
        .navbar-nav {
          margin-top: 100px !important;
          margin-bottom: 20px;
        }
      }
    }
  }
  &-right {
    display: flex;
    justify-content: center;
  }
  &-banner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &-login {
    @include FramesFont(20px, 28px, 700);
    color: #2576b9;
    background-color: #ffd95c;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 12px 24px;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  &-wave {
    @include FramesBackgroundImage($image-wave1);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
  }
}

.ap-feedback {
  position: relative;
  width: 100%;
  background-color: #bcdaf2;
  &-box {
    position: relative;
    padding-top: 72px;
    margin: 0 auto;
  }
  &-title {
    @include FramesFont(48px, 54px, 700);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 55%;
    color: #2576b9;
    margin: 0 auto;
    @include MD {
      width: 95%;
    }
  }
  &-icons {
    &-meteor {
      @include FramesPosition(auto, auto, -11%, 10%);
      width: 75px;
      img {
        width: 100%;
      }
    }
    &-star {
      @include FramesPosition(auto, 10%, -11%, auto);
      width: 75px;
      img {
        width: 100%;
      }
    }
  }
  &-slick {
    width: 60%;
    padding-bottom: 72px;
    margin: 20px auto 0 auto;
    @include MD {
      width: 95%;
    }
  }
  &-slide {
    position: relative;
    .slick-list {
      padding: 32px 0;
    }
    &-item {
      @include FramesFlex(flex-end, center, row);
      &-quote {
        @include FramesPosition(-32px, auto, auto, 44.5px);
      }
      &-content {
        @include FramesFont(18px, 28px, 400, $font-secondary);
        text-align: center;
        background: #fff;
        border-radius: 16px;
        padding: 72px 32px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -75.5px;
      }
      &-next {
        right: -75.5px;
      }
    }
  }
  &-nav {
    margin-top: 16px;
    .slick-track {
      @include FramesFlex(center, center, row);
    }
    &-item {
      @include FramesFlex(center, center, column);
      display: flex !important;
      cursor: pointer;
      .slick-slide & {
        &-image {
          width: 128px;
          height: 128px;
          img {
            width: 100%;
            height: auto;
          }
        }
        &-name {
          @include FramesFont(22px, 36px, 700);
          color: #2576b9;
          margin-top: 16px;
          display: none;
        }
        &-local {
          @include FramesFont(15px, 24px, 400, $font-secondary);
          letter-spacing: 0.25px;
          color: #2576b9;
          margin-top: 4px;
          display: none;
        }
      }
      .slick-slide.slick-current & {
        &-image {
          width: 208px;
          height: 208px;
          border: 6px solid #2576b9;
          border-radius: 50%;
        }
        &-name {
          display: block;
        }
        &-local {
          display: block;
        }
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: 20px;
      }
      &-next {
        right: 20px;
      }
    }
  }
}

.ap-journey {
  width: 100%;
  position: relative;
  &-title {
    @include FramesFont(48px, 54px, 700);
    text-align: center;
    text-transform: uppercase;
    width: 55%;
    color: #2576b9;
    margin: 0 auto;
    margin-top: 48px;
    @include MD {
      width: 95%;
    }
  }
  &-tabs {
    @include FramesFlex(space-between, center, row);
    width: 75%;
    list-style-type: none;
    padding: 5px 0;
    margin: 0 auto;
    margin-top: 48px;
    scroll-behavior: smooth;
    overflow: scroll;
    @include MD {
      width: 95%;
      padding: 5px 30%;
    }
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    &-item {
      @include FramesFont(30px, 36px, 700);
      text-align: center;
      white-space: nowrap;
      position: relative;
      color: #2576b9;
      background-color: #fff;
      padding: 10px 32px;
      border: 1px solid #90a4ae;
      border-radius: 40px;
      z-index: 10;
      cursor: pointer;
      @include XL {
        margin-right: 20px;
      }
      &:after {
        @include FramesPosition(0, auto, 0, 100%);
        content: "";
        width: 100%;
        height: 1px;
        background-color: #90a4ae;
        margin: auto 0;
      }
      &:last-child:after {
        display: none;
      }
      &.active {
        color: #ffd95c;
        background-color: #2576b9;
      }
    }
  }
  &-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    @include MD {
      width: 95%;
    }
    &-tabs {
      @include FramesVisibleHidden;
      width: 80%;
      margin: auto;
      @include LG {
        width: 95%;
      }
      &.active {
        @include FramesVisibleShow;
      }
      &-title {
        @include FramesFont(48px, 54px, 700);
        @include FramesBigTextShadow(#fff, #eb9cc3);
        position: relative;
        &-bg {
          @include FramesPosition(8px, auto, auto, 4px);
          @include FramesBigTextShadow(#fff, #eb9cc3);
          width: calc(100% - 16px);
          margin: 0 auto;
          z-index: -1;
        }
        @include MD {
          font-size: 28px;
          text-align: center;
        }
      }
      &-text {
        @include FramesFont(18px, 28px, 400, $font-secondary);
        margin-top: 47px;
        @include MD {
          text-align: center;
        }
      }
    }
    &-images {
      @include FramesVisibleHidden;
      width: 100%;
      margin: auto;
      margin-top: 25px;
      position: relative;
      .picture {
        width: 100%;
      }
      &.tab1 {
        .star {
          position: absolute;
          top: -7%;
          left: 61%;
        }
        .trophy {
          position: absolute;
          top: 18%;
          right: 0;
        }
        .lightbulb {
          position: absolute;
          top: 0;
          left: 3%;
        }
      }
      &.tab2 {
        .star {
          position: absolute;
          right: 7%;
        }
        .trophy {
          position: absolute;
          right: 1%;
          bottom: 18%;
        }
        .lightbulb {
          position: absolute;
          top: 9%;
          left: -6%;
        }
      }
      &.tab3 {
        .star {
          position: absolute;
          left: 0;
          img {
            transform: rotate(-95deg);
          }
        }
        .trophy {
          position: absolute;
          top: 58%;
          left: -10%;
          img {
            transform: scaleX(-1) rotate(18deg);
          }
        }
        .lightbulb {
          position: absolute;
          right: 4%;
          img {
            transform: scaleX(-1) rotate(23deg);
          }
        }
      }
      &.tab4 {
        .star {
          position: absolute;
          left: 0;
          img {
            transform: rotate(-95deg);
          }
        }
        .trophy {
          position: absolute;
          top: 58%;
          left: -10%;
          img {
            transform: scaleX(-1) rotate(18deg);
          }
        }
        .lightbulb {
          position: absolute;
          right: 4%;
          img {
            transform: scaleX(-1) rotate(23deg);
          }
        }
      }
      &.tab5 {
        .star {
          position: absolute;
          right: 15%;
          img {
            transform: rotate(-69deg);
          }
        }
        .trophy {
          position: absolute;
          left: -10%;
          bottom: 35%;
          img {
            transform: scaleX(-1) rotate(18deg);
          }
        }
        .lightbulb {
          position: absolute;
          bottom: 9%;
          right: -10%;
          img {
            transform: scaleX(-1);
          }
        }
      }
      &.tab6 {
        .star {
          position: absolute;
          left: 5%;
          img {
            transform: rotate(-95deg);
          }
        }
        .trophy {
          position: absolute;
          left: -8%;
          bottom: 19%;
          img {
            transform: scaleX(-1) rotate(18deg);
          }
        }
        .lightbulb {
          position: absolute;
          bottom: 29%;
          right: -5%;
          img {
            transform: scaleX(-1) rotate(12deg);
          }
        }
      }
      &.tab7 {
        .star {
          position: absolute;
          left: 5%;
          img {
            transform: rotate(-95deg);
          }
        }
        .trophy {
          position: absolute;
          bottom: 29%;
          right: -5%;
          img {
            transform: rotate(12deg);
          }
        }
        .lightbulb {
          position: absolute;
          left: -12%;
          bottom: 19%;
          img {
            transform: rotate(18deg);
          }
        }
      }
      &.active {
        @include FramesVisibleShow;
      }
    }
  }
  &-wave {
    @include FramesBackgroundImage($image-wave2, cover, center);
    position: relative;
    width: 100%;
    &-icon1 {
      @include FramesPosition(-28%, auto, auto, -6%);
      &.mobile {
        width: 160px;
        top: -53%;
        left: 0%;
      }
      .bg {
        position: absolute;
        right: 0;
        width: 100%;
        height: 58%;
        background: #bcdaf2;
        z-index: 20;
        animation: animation_journey_butterfly_bg 0.7s linear forwards;
      }
      .butterfly {
        position: absolute;
        top: 46%;
        right: 72%;
        z-index: 30;
        animation: animation_journey_butterfly 0.7s linear forwards;
      }
      .butterfly-line {
        transform: rotate(4deg);
      }
      @keyframes animation_journey_butterfly {
        0% {
          top: 46%;
          right: 72%;
        }

        50% {
          top: 5%;
          right: 30%;
        }

        100% {
          top: -26%;
          right: -27%;
        }
      }

      @keyframes animation_journey_butterfly_bg {
        0% {
          right: 0;
        }

        100% {
          right: -100%;
        }
      }
    }
    &-icon2 {
      @include FramesPosition(0, 0, auto, auto);
      width: 300px;
      height: 200px;
      &.mobile {
        width: 100px;
        top: -15%;
        right: -1%;
      }
      .global {
        position: absolute;
        top: 50%;
        left: 50%;
        animation: animation_journey_global 0.7s linear forwards;
      }
      .global-star {
        position: absolute;
        top: -15%;
        left: 22%;
      }
      @keyframes animation_journey_global {
        0% {
          top: 50%;
          left: 50%;
        }

        100% {
          top: 30%;
          left: 0;
        }
      }
    }
  }
}

.ap-vision {
  position: relative;
  width: 100%;
  margin-top: 110px;
  &-container {
    position: relative;
    z-index: 30;
  }
  &-accordion {
    margin-top: 200px;
    animation: fadeIn, slideInUp;
    @include MD {
      margin: 0 auto;
      margin-top: 60px;
    }
  }
  &-card {
    border-width: 0;
    background-color: transparent;
    &:after {
      content: "";
      width: 100%;
      border-bottom: 1.5px solid #90a4ae;
      margin: 24px auto;
      @include MD {
        width: 80%;
      }
    }
    &:last-child:after {
      border-width: 0;
    }
    &-title {
      @include FramesFont(48px, 54px, 700);
      text-transform: uppercase;
      color: #90a4ae;
      cursor: pointer;
      @include MD {
        text-align: center;
      }
      &[aria-expanded="true"] {
        color: #2576b9;
      }
    }
    &-content {
      @include FramesFont(40px, 54px, 700);
      @include FramesBigTextShadow(#2576b9, #ffd95c);
      position: relative;
      padding: 8px 8px;
      margin-top: 16px;
      margin-bottom: 35px;
      p {
        margin-left: 30px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 18px;
          height: 18px;
          background-color: #2576b9;
          border-radius: 50%;
          margin-top: 20px;
        }
      }
      &-bg {
        @include FramesPosition(23px, auto, auto, 14px);
        @include FramesBigTextShadow(#ffd95c, #ffd95c);
        width: calc(100% - 16px);
        margin: 0 auto;
        z-index: -1;
        p:before {
          display: none;
        }
      }
    }
    &-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @include FramesVisibleHidden;
      margin: auto;
      transform: scale(0.9);
      &.active {
        display: flex;
        opacity: 1;
        visibility: visible;
      }
      &.tab1 {
        .picture {
          position: absolute;
          left: -3%;
          bottom: 0;
          z-index: 10;
        }
        .icon1 {
          position: absolute;
          top: -9%;
          z-index: 10;
        }
        .icon2 {
          position: absolute;
          left: -4%;
          bottom: -6%;
          transform: rotate(5deg);
          z-index: 10;
        }
        .icon3 {
          position: absolute;
          left: -12.5%;
          bottom: 26%;
          z-index: 10;
        }
        .icon4 {
          position: absolute;
          top: 7%;
          right: 2%;
          z-index: 10;
        }
        .icon5 {
          position: absolute;
          top: 45%;
          right: -5%;
          z-index: 10;
        }
      }
      &.tab2 {
        .picture {
          position: absolute;
          left: -12%;
          bottom: 0;
          z-index: 10;
        }
        .icon1 {
          position: absolute;
          top: 39%;
          left: -12%;
          transform: rotate(-35deg);
          z-index: 10;
        }
        .icon2 {
          position: absolute;
          right: -1%;
          bottom: -4%;
          transform: rotate(-4deg) scaleX(-1);
          z-index: 10;
        }
        .icon3 {
          position: absolute;
          right: -10%;
          bottom: 27%;
          transform: scaleX(-1);
          z-index: 10;
        }
        .icon4 {
          position: absolute;
          top: 4%;
          left: 4%;
          transform: rotate(-22deg);
          z-index: 10;
        }
        .icon5 {
          position: absolute;
          top: 4%;
          right: 9%;
          transform: rotate(-44deg);
          z-index: 10;
        }
      }
      &.tab3 {
        .picture {
          position: absolute;
          left: -5%;
          bottom: 0;
          z-index: 10;
        }
        .icon1 {
          position: absolute;
          top: 10%;
          right: -10%;
          z-index: 10;
        }
        .icon2 {
          position: absolute;
          left: 11%;
          bottom: -10%;
          transform: rotate(-23deg);
          z-index: 10;
        }
        .icon3 {
          position: absolute;
          left: -3.5%;
          bottom: 7%;
          transform: rotate(-7deg);
          z-index: 10;
        }
        .icon4 {
          position: absolute;
          top: -12%;
          right: 28%;
          transform: rotate(5deg);
          z-index: 10;
        }
        .icon5 {
          position: absolute;
          bottom: 15%;
          right: -6%;
          transform: rotate(-48deg);
          z-index: 10;
        }
      }
      &.tab4 {
        .picture {
          position: absolute;
          left: -3%;
          bottom: 0;
          z-index: 10;
        }
        .icon1 {
          position: absolute;
          top: 1%;
          left: 1%;
          transform: rotate(-52deg);
          z-index: 10;
        }
        .icon2 {
          position: absolute;
          left: 7%;
          bottom: -8%;
          transform: rotate(-17deg);
          z-index: 10;
        }
        .icon3 {
          position: absolute;
          left: -8.5%;
          bottom: 13%;
          transform: rotate(-10deg);
          z-index: 10;
        }
        .icon4 {
          position: absolute;
          top: -4%;
          right: 10%;
          transform: rotate(41deg);
          z-index: 10;
        }
        .icon5 {
          position: absolute;
          bottom: -2%;
          right: 7%;
          transform: rotate(-45deg);
          z-index: 10;
        }
      }
    }
  }
  &-wave {
    position: absolute;
    right: 0;
    width: 95%;
    height: 340px;
    &-line {
      z-index: 20;
      img {
        width: 92%;
        display: block;
        margin-left: auto;
      }
    }
    &-star1 {
      position: absolute;
      top: -3%;
      right: 21%;
      width: 2.4%;
      z-index: 20;
      @include MD {
        top: -3%;
        right: 16%;
        width: 5.4%;
        img {
          width: 100%;
        }
      }
    }
    &-star2 {
      position: absolute;
      top: 15%;
      right: 83%;
      width: 1.6%;
      z-index: 20;
      @include MD {
        top: -4%;
        right: 78%;
        width: 3.6%;
        img {
          width: 100%;
        }
      }
    }
    &-balloon {
      position: absolute;
      top: -6%;
      right: 12%;
      width: 8.5%;
      z-index: 20;
      animation: fadeIn, tada;
      @include MD {
        top: -6%;
        right: 1%;
        width: 17%;
        img {
          width: 100%;
        }
      }
    }
    &-bg {
      position: absolute;
      top: -20%;
      right: 100%;
      width: 100%;
      height: 500px;
      background-color: #fff;
      z-index: 10;
      animation: animation_vision_rocket_bg 2s linear;
    }
    &-rocket {
      position: absolute;
      width: 10%;
      top: -23%;
      right: 91%;
      transform: rotate(7deg);
      z-index: 20;
      animation: animation_vision_rocket 2s linear;
      @include MD {
        width: 21%;
        top: -22%;
        right: 86%;
        transform: rotate(23deg);
        img {
          width: 100%;
        }
      }
    }
    @keyframes animation_vision_rocket {
      0% {
        top: 23%;
        right: 24px;
        transform: rotate(8deg);
      }

      8% {
        top: -2%;
        right: 10%;
        transform: rotate(0deg);
      }

      16% {
        top: -8%;
        right: 15%;
        transform: rotate(-13deg);
      }

      24% {
        top: -14%;
        right: 20%;
        transform: rotate(-19deg);
      }

      32% {
        top: -18%;
        right: 25%;
        transform: rotate(-25deg);
      }

      40% {
        top: -21%;
        right: 30%;
        transform: rotate(-30deg);
      }

      48% {
        top: -18%;
        right: 40%;
        transform: rotate(-39deg);
      }

      58% {
        top: -10%;
        right: 50%;
        transform: rotate(-48deg);
      }

      64% {
        top: 2%;
        right: 60%;
        transform: rotate(-48deg);
      }

      72% {
        top: 12%;
        right: 70%;
        transform: rotate(-41deg);
      }

      80% {
        top: 9%;
        right: 78%;
        transform: rotate(-18deg);
      }

      100% {
        top: -23%;
        right: 91%;
        transform: rotate(7deg);
      }
    }
    @keyframes animation_vision_rocket_bg {
      0% {
        right: 24px;
      }

      8% {
        right: 10%;
      }

      16% {
        right: 15%;
      }

      24% {
        right: 20%;
      }

      32% {
        right: 25%;
      }

      40% {
        right: 30%;
      }

      48% {
        right: 40%;
      }

      58% {
        right: 50%;
      }

      64% {
        right: 60%;
      }

      72% {
        right: 70%;
      }

      80% {
        right: 78%;
      }

      100% {
        right: 91%;
      }
    }
  }
}

.ap-teachers {
  width: 100%;
  margin-top: 114px;
  &-slick {
    width: 70%;
    margin: 0 auto;
    margin-top: 58px;
    @include MD {
      width: 95%;
    }
  }
  &-content {
    position: relative;
    padding-top: 128px;
    padding-bottom: 152px;
    background-color: #bcdaf2;
    &-title {
      @include FramesFont(48px, 54px, 700);
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      color: #2576b9;
      margin: auto;
      @include MD {
        width: 80%;
      }
    }
  }
  &-nav {
    margin-top: 16px;
    .slick-track {
      @include FramesFlex(center, flex-start, row);
    }
    &-item {
      @include FramesFlex(center, center, column);
      display: flex !important;
      cursor: pointer;
      &-image {
        position: relative;
        width: 208px;
        height: 208px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 5;
          border-radius: 100%;
          border: 8px solid transparent;
          animation: animation_teacher_image 2s forwards;
        }
        @keyframes animation_teacher_image {
          0% {
            border-color: transparent;
          }

          25% {
            border-top-color: #2576b9;
          }

          50% {
            border-top-color: #2576b9;
            border-right-color: #2576b9;
          }

          75% {
            border-top-color: #2576b9;
            border-right-color: #2576b9;
            border-bottom-color: #2576b9;
          }

          100% {
            border-top-color: #2576b9;
            border-right-color: #2576b9;
            border-bottom-color: #2576b9;
            border-left-color: #2576b9;
          }
        }
      }
      &-info {
        @include FramesFlex(center, center, column);
      }
      &-name {
        @include FramesFont(30px, 120%, 700);
        color: #2576b9;
        margin-top: 16px;
      }
      &-local {
        @include FramesFont(20px, 120%, 400, $font-secondary);
        letter-spacing: 0.25px;
        color: #2576b9;
        margin-top: 8px;
      }
      &-content {
        @include FramesFont(14px, 19.6px, 400, $font-secondary);
        text-align: center;
        width: 75%;
        margin-top: 16px;
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -20px;
        @include MD {
          left: 20px;
        }
      }
      &-next {
        right: -20px;
        @include MD {
          right: 20px;
        }
      }
    }
  }
  &-icons {
    @include FramesBackgroundImage($image-stars, 90%, 145% -10%);
    @include FramesPosition(0, auto, auto, 50%);
    width: 70%;
    height: 100%;
    transform: translateX(-50%);
    opacity: 0.3;
    &-icon {
      position: absolute;
      img {
        width: 100%;
      }
    }
    &-pin {
      width: 103.53px;
      top: 120px;
    }
    &-pen {
      width: 51.49px;
      left: -100px;
      bottom: 200px;
    }
    &-zoom {
      width: 88.18px;
      bottom: 50px;
    }
    &-hat {
      width: 100px;
      right: -10%;
      bottom: 70px;
    }
    &-book {
      width: 116.63px;
      top: 50px;
      right: 0;
    }
  }
  &-wave-top {
    @include FramesBackgroundImage($image-wave3);
    width: 100%;
    height: 127.42px;
  }
  &-wave-bottom {
    @include FramesBackgroundImage($image-wave4);
    width: 100%;
    height: 144px;
  }
}

.ap-infrastructure {
  position: relative;
  padding-top: 80px;
  padding-bottom: 128px;
  &-title {
    @include FramesFont(48px, 54px, 700);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #2576b9;
    margin: auto;
    @include MD {
      width: 80%;
    }
  }
  &-slick {
    width: 65%;
    margin: 0 auto;
    margin-top: 42px;
    @include MD {
      width: 95%;
    }
  }
  &-slide {
    &-image {
      height: 432px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      @include MD {
        height: 343px;
      }
      img {
        width: 100%;
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -70px;
      }
      &-next {
        right: -70px;
      }
    }
  }
  &-nav {
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    @include MD {
      width: 80%;
    }
    &-image {
      height: 128px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 6px;
      border-radius: 10px;
      @include MD {
        height: 80px;
      }
    }
    .slick-slide.slick-current &-image {
      border: 10px solid #2576b9;
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -50px;
      }
      &-next {
        right: -50px;
      }
    }
  }
  &-icons {
    &-icon {
      position: absolute;
    }
    &-trophy {
      width: 105px;
      left: 8%;
      @include MD {
        width: 73px;
        top: -4%;
        z-index: -1;
      }
      .trophy {
        width: 100%;
        animation-iteration-count: infinite;
      }
      .star1 {
        position: absolute;
        left: -25%;
        top: 25%;
      }
      .star2 {
        position: absolute;
        left: -5%;
      }
    }
    &-jar {
      width: 75px;
      right: 6%;
      bottom: 23%;
      @include MD {
        bottom: 3%;
        z-index: -1;
      }
      .jar {
        animation-iteration-count: infinite;
        @include MD {
          width: 80%;
        }
      }
    }
    &-star1 {
      width: 21.53px;
      left: 12%;
      top: 30%;
      @include MD {
        top: 13%;
        left: 10%;
      }
    }
    &-star2 {
      width: 27.52px;
      top: 37%;
      right: 10%;
      @include MD {
        top: 0%;
        right: 8%;
      }
    }
  }
  &-wave {
    @include FramesBackgroundImage("../images/infrastructure/line.svg", contain, 50% 50%);
    position: absolute;
    right: 0;
    width: 100%;
    height: 388px;
    overflow: hidden;
    &-bg {
      position: absolute;
      top: -20%;
      right: 100%;
      width: 100%;
      height: 500px;
      background-color: #fff;
      z-index: 10;
      animation: animation_infrastructure_rocket_bg 1.5s linear;
    }
    &-rocket {
      position: absolute;
      width: 8.2%;
      transform: rotate(185deg);
      top: 77%;
      left: 100%;
      transition: all 0.3s ease-in-out;
      animation: animation_infrastructure_rocket 1.5s linear;
      z-index: 10;
      @include MD {
        width: 18.2%;
        img {
          width: 100%;
        }
      }
    }
    @keyframes animation_infrastructure_rocket {
      0% {
        transform: rotate(193deg);
        top: -11%;
        left: -3%;
      }

      5% {
        transform: rotate(181deg);
        top: 17%;
        left: 5%;
      }

      10% {
        transform: rotate(178deg);
        top: 29%;
        left: 10%;
      }

      15% {
        transform: rotate(160deg);
        top: 38%;
        left: 15%;
      }

      20% {
        transform: rotate(143deg);
        top: 40%;
        left: 20%;
      }

      25% {
        transform: rotate(122deg);
        top: 35%;
        left: 25%;
      }

      30% {
        transform: rotate(116deg);
        top: 26%;
        left: 30%;
      }

      35% {
        transform: rotate(128deg);
        top: 16%;
        left: 35%;
      }

      40% {
        transform: rotate(175deg);
        top: 23%;
        left: 40%;
      }

      45% {
        transform: rotate(187deg);
        top: 35%;
        left: 45%;
      }

      50% {
        transform: rotate(183deg);
        top: 50%;
        left: 50%;
      }

      55% {
        transform: rotate(179deg);
        top: 63%;
        left: 55%;
      }

      60% {
        transform: rotate(173deg);
        top: 74%;
        left: 60%;
      }

      65% {
        transform: rotate(140deg);
        top: 79%;
        left: 65%;
      }

      70% {
        transform: rotate(114deg);
        top: 72%;
        left: 70%;
      }

      80% {
        transform: rotate(45deg);
        top: 46%;
        left: 70%;
      }

      85% {
        transform: rotate(105deg);
        top: 21%;
        left: 72%;
      }

      88% {
        transform: rotate(169deg);
        top: 26%;
        left: 77%;
      }

      90% {
        transform: rotate(178deg);
        top: 37%;
        left: 83%;
      }

      95% {
        transform: rotate(181deg);
        top: 52%;
        left: 88%;
      }

      98% {
        transform: rotate(182deg);
        top: 61%;
        left: 92%;
      }

      99% {
        transform: rotate(180deg);
        top: 67.5%;
        left: 95%;
      }

      100% {
        transform: rotate(183deg);
        top: 71%;
        left: 97%;
      }
    }
    @keyframes animation_infrastructure_rocket_bg {
      0% {
        left: -3%;
      }

      5% {
        left: 5%;
      }

      10% {
        left: 10%;
      }

      15% {
        left: 15%;
      }

      20% {
        left: 20%;
      }

      25% {
        left: 25%;
      }

      30% {
        left: 30%;
      }

      35% {
        left: 35%;
      }

      40% {
        left: 40%;
      }

      45% {
        left: 45%;
      }

      50% {
        left: 50%;
      }

      55% {
        left: 55%;
      }

      60% {
        left: 60%;
      }

      65% {
        left: 65%;
      }

      70% {
        left: 70%;
      }

      80% {
        left: 70%;
      }

      85% {
        left: 72%;
      }

      88% {
        left: 77%;
      }

      90% {
        left: 83%;
      }

      95% {
        left: 88%;
      }

      98% {
        left: 92%;
      }

      99% {
        left: 95%;
      }

      100% {
        left: 97%;
      }
    }
  }
}

.ap-message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include MD {
    height: 500px;
  }
  &-line {
    width: 100%;
  }
  &-title {
    @include FramesBigTextShadow(#2576b9, #ffd95c);
    position: absolute;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;
    max-width: 40%;
    text-align: center;
    text-transform: uppercase;
    @include MD {
      max-width: 85%;
    }
  }
  &-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &-trophy {
      position: absolute;
      top: 10%;
      left: 20%;
      @include MD {
        top: 8%;
        left: 7%;
      }
      .trophy {
        transform: rotate(9deg);
        animation-iteration-count: infinite;
      }
      .star1 {
        position: absolute;
        top: 7%;
        left: -5%;
      }
      .star2 {
        position: absolute;
        top: 33%;
        left: -20%;
      }
    }
    &-jar {
      position: absolute;
      bottom: 5%;
      left: 18%;
      animation-iteration-count: infinite;
      @include MD {
        bottom: 12%;
        left: 0%;
      }
    }
    &-ballon {
      position: absolute;
      top: 8%;
      right: 18%;
      animation-iteration-count: infinite;
      @include MD {
        top: 2%;
        right: 2%;
      }
    }
    &-lightbulb {
      position: absolute;
      right: 17%;
      bottom: 4%;
      animation-iteration-count: infinite;
      @include MD {
        right: 4%;
        bottom: 5%;
      }
    }
  }
}

.ap-footer {
  @include FramesBackgroundImage($image-footer, cover, center);
  width: 100%;
  min-height: 1130px;
  position: relative;
  padding-top: 100px;
  margin-top: 160px;
  @include MD {
    @include FramesBackgroundImage($image-footer-mobile, cover, 0% 0%);
  }
  &-wave {
    @include FramesBackgroundImage("../images/footer/line.svg", contain);
    top: -71px;
    right: 0;
    bottom: 0;
    left: 0px;
    position: absolute;
    width: 98%;
    height: 616px;
    transform: rotate(3deg);
    @include MD {
      @include FramesBackgroundImage(
        "../images/footer/line-mobile.svg",
        contain
      );
      left: -7px;
      width: 72%;
      transform: rotate(2deg);
    }
    &-rocket {
      position: absolute;
      top: -26px;
      right: -95px;
      img {
        width: 100%;
      }
    }
    &-meteor {
      width: 71px;
      position: absolute;
      left: 11%;
      top: -9%;
      img {
        width: 100%;
      }
    }
    &-star {
      position: absolute;
      left: 88%;
      top: -9%;
      width: 45px;
      img {
        width: 100%;
      }
    }
  }
  &-stars {
    @include FramesPosition(-100px, auto, auto, 5%);
    @include MD {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  &-top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-badge {
      width: 248px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 250px;
      @include MD {
        width: 157px;
      }
      & > img {
        width: 100%;
        z-index: 10;
      }
      &-bg {
        width: 170%;
        position: absolute;
        left: -35%;
        img {
          width: 100%;
        }
      }
      &-content {
        z-index: 20;
        &.top {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 83px;
        }
        &.top &-title {
          text-align: center;
        }
        &.center {
          width: 50%;
          margin-top: 35px;
          margin-left: 91px;
          @include LG {
            width: 82%;
            margin-left: 60px;
          }
          @include MD {
            margin-left: 38px;
          }
        }
        &.bottom {
          width: 57%;
          margin-top: 58px;
          margin-right: -20px;
          @include LG {
            width: 95%;
            margin-right: 0;
          }
        }
        &-double {
          display: flex;
          justify-content: space-between;
          align-items: center;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-child {
              @include MD {
                align-items: flex-end;
              }
            }
            @include MD {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
        &-double &-title {
          @include MD {
            order: 2;
          }
        }
        &-double &-icon {
          @include MD {
            order: 1;
          }
        }
        &-double div:first-child &-title {
          text-align: right;
        }
        &-double div:first-child &-icon {
          margin-left: 16px;
        }
        &-double div:last-child &-icon {
          margin-right: 16px;
        }
        &-title {
          @include FramesFont(20px, 28px, 700);
          letter-spacing: 0.15px;
          color: #fff;
          @include MD {
            font-size: 14px;
            line-height: 19.6px;
          }
        }
      }
    }
  }
  &-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-box {
      width: 65%;
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 187px;
      box-shadow: 8px 8px 0px 0px #607d8b80;
      @include MD {
        width: 90%;
        justify-content: center;
        .col-md-6 {
          padding: 0;
        }
      }
    }
    &-left {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      background-image: url(../images/footer/ellipse.svg);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 45px 0;
      margin-right: 25px;
      @include MD {
        background-image: url(../images/footer/ellipse-mobile.svg);
        padding: 60px 0;
      }
      &-title {
        @include FramesBigTextShadow(#fff, #2576b9);
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        position: inherit;
        z-index: 10;
        span {
          @include FramesBigTextShadow(#ffd95c, #2576b9);
          display: block;
        }
      }
      &-ellipse {
        width: 424px;
        height: 424px;
        background-color: #ffd95c;
        border-radius: 50%;
        position: absolute;
        top: -80%;
        left: -5%;
      }
    }
    &-right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @include MD {
        padding: 26px 20px;
        div {
          display: block !important;
        }
      }
      div {
        display: flex;
      }
      &-input {
        width: 98%;
        border-width: 0;
        border-bottom: 1px solid #607d8b;
        margin-right: 8px;
        @include MD {
          margin-bottom: 24px;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0.25px;
          font-family: $font-secondary;
        }
      }
      &-signIn {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2576b9;
        background-color: #ffd95c;
        border: 0;
        padding: 10px 0 3px 0;
        border-radius: 40px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &-bottom {
    width: 65%;
    border-top: 1px solid #eceff1;
    padding-top: 16px;
    padding-bottom: 24px;
    margin: auto;
    margin-top: 40px;
    @include MD {
      width: 95%;
    }
    &-menu {
      height: 100%;
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      @include MD {
        flex-direction: column;
        li {
          margin-bottom: 16px;
        }
      }
      li {
        color: #fff;
        margin-left: 24px;
      }
    }
    &-logo {
      width: 200px;
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
      margin-bottom: 16px;
      @include MD {
        margin: auto;
        margin-top: 4px;
        margin-bottom: 16px;
      }
      img {
        width: 100%;
      }
    }
    &-icon {
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
      @include MD {
        justify-content: center;
      }
      i {
        width: 24px;
        height: 24px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 8px;
      }
    }
    &-copyright {
      width: 55%;
      color: #ffffff;
      font-size: 14px;
      line-height: 19.6px;
      letter-spacing: 0.25px;
      font-family: $font-secondary;
      margin-top: 16px;
      @include MD {
        text-align: center;
        margin: auto;
        margin-top: 16px;
      }
    }
  }
}
