/* Variables */
$font-primary: "Brauer NeueVN";
$font-secondary: "Montserrat";

$image-banner: "../images/common/banner-bg.svg";
$image-line1: "../images/common/line-1.svg";
$image-line2: "../images/common/line-2.svg";
$image-line3: "../images/common/line-3.svg";
$image-wave1: "../images/common/wave-1.svg";
$image-wave2: "../images/common/wave-2.svg";
$image-wave3: "../images/common/wave-3.svg";
$image-wave4: "../images/common/wave-4.svg";
$image-stars: "../images/teachers/stars.svg";

/* Mixin Responsive */

$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extra-width: 1200px;

@mixin SM {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin MD {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin LG {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin XL {
  @media (max-width: #{$extra-width}) {
    @content;
  }
}

/* Mixin Styles */

@mixin FramesVisibleHidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@mixin FramesVisibleShow($display: block) {
  display: $display;
  opacity: 1;
  visibility: visible;
}

@mixin FramesBigTextShadow($color, $color-shadow) {
  color: $color;
  text-shadow: $color-shadow 9px 0 0, $color-shadow 8.9445px 0.997944px 0,
    $color-shadow 8.77869px 1.98358px 0, $color-shadow 8.50461px 2.94475px 0,
    $color-shadow 8.12565px 3.86961px 0, $color-shadow 7.64647px 4.74674px 0,
    $color-shadow 7.07299px 5.56533px 0, $color-shadow 6.41227px 6.31528px 0,
    $color-shadow 5.67248px 6.98735px 0, $color-shadow 4.86272px 7.57324px 0,
    $color-shadow 3.99299px 8.06573px 0, $color-shadow 3.07402px 8.45875px 0,
    $color-shadow 2.11714px 8.74744px 0, $color-shadow 1.13414px 8.92825px 0,
    $color-shadow 0.137162px 8.99895px 0, $color-shadow -0.861512px 8.95867px 0,
    $color-shadow -1.84956px 8.8079px 0, $color-shadow -2.8148px 8.5485px 0,
    $color-shadow -3.74532px 8.18368px 0, $color-shadow -4.62965px 7.71792px 0,
    $color-shadow -5.45689px 7.15698px 0, $color-shadow -6.21682px 6.50777px 0,
    $color-shadow -6.90009px 5.77831px 0, $color-shadow -7.49825px 4.97757px 0,
    $color-shadow -8.00394px 4.11545px 0, $color-shadow -8.41092px 3.20258px 0,
    $color-shadow -8.71416px 2.2502px 0, $color-shadow -8.90993px 1.27008px 0,
    $color-shadow -8.99582px 0.274291px 0, $color-shadow -8.97076px -0.72488px 0,
    $color-shadow -8.83507px -1.71511px 0, $color-shadow -8.59041px -2.68419px 0,
    $color-shadow -8.23981px -3.62017px 0, $color-shadow -7.78758px -4.51149px 0,
    $color-shadow -7.23931px -5.34718px 0, $color-shadow -6.60176px -6.11692px 0,
    $color-shadow -5.88279px -6.81122px 0, $color-shadow -5.09127px -7.42152px 0,
    $color-shadow -4.23696px -7.94029px 0, $color-shadow -3.33039px -8.36113px 0,
    $color-shadow -2.38275px -8.67885px 0, $color-shadow -1.40572px -8.88954px 0,
    $color-shadow -0.411357px -8.99059px 0, $color-shadow 0.58808px -8.98077px 0,
    $color-shadow 1.58026px -8.86018px 0, $color-shadow 2.55296px -8.63032px 0,
    $color-shadow 3.49417px -8.29402px 0, $color-shadow 4.39229px -7.85543px 0,
    $color-shadow 5.23623px -7.31996px 0, $color-shadow 6.0156px -6.69422px 0,
    $color-shadow 6.72078px -5.98591px 0, $color-shadow 7.34307px -5.20378px 0,
    $color-shadow 7.87479px -4.35748px 0, $color-shadow 8.3094px -3.45743px 0,
    $color-shadow 8.64153px -2.51474px 0, $color-shadow 8.86709px -1.54104px 0,
    $color-shadow 8.98328px -0.548328px 0;
}

@mixin FramesFlex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: column
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin FramesPosition(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $position: absolute
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $position;
}

@mixin FramesFont(
  $font-size: medium,
  $line-height: normal,
  $font-weight: normal,
  $font-family: $font-primary
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: $font-family, sans-serif;
}

@mixin FramesBackgroundImage(
  $url,
  $size: cover,
  $position: 0% 0%,
  $repeat: no-repeat
) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

.ap-container {
  width: 100%;
  font-family: $font-primary, sans-serif;
}

.ap-header {
  @include FramesBackgroundImage($image-banner, cover, center);
  position: relative;
  width: 100%;
  min-height: 964px;
  &-nav {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    @include LG {
      width: 90%;
    }
    .nav-item {
      padding: 5px 0;
      margin: 0 15px;
      .nav-link {
        @include FramesFont(20px, 28px, 600);
        letter-spacing: 0.15px;
        color: #fff;
        &.dropdown-toggle::after {
          display: none;
        }
      }
      .navbar-toggler {
        &:focus {
          outline: none;
        }
      }
      &:hover {
        background-color: #fff;
        border-radius: 8px 8px 0px 0px;
        color: #263238;
        .dropdown-menu,
        .dropdown-menu:hover,
        .dropdown-submenu:hover ul.dropdown-menu {
          opacity: 1 !important;
          visibility: visible !important;
          display: block !important;
        }
        a.nav-link {
          color: #2576b9;
        }
      }
      &.dropdown {
        .dropdown-menu {
          border-width: 0;
          border-radius: 10px;
          border-top-left-radius: 0;
          border-top-width: 3px;
          border-top-color: transparent;
          padding: 0;
          margin: 0;
          box-shadow: 0 8px 16px #00000026;
          .dropdown-item {
            font-weight: 500;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 10px;
            &:hover {
              color: #2576b9;
              background-color: #e3f0f9;
            }
            &.special {
              color: #e94286;
            }
          }
        }
      }
    }
  }
  &-login {
    @include FramesFont(20px, 28px, 700);
    color: #2576b9;
    background-color: #ffd95c;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 12px 24px;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  &-wave {
    @include FramesBackgroundImage($image-wave1);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
  }
}

.ap-feedback {
  position: relative;
  width: 100%;
  background-color: #bcdaf2;
  &-box {
    position: relative;
    padding-top: 72px;
    margin: 0 auto;
  }
  &-title {
    @include FramesFont(48px, 54px, 700);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 65%;
    color: #2576b9;
    margin: 0 auto;
    @include MD {
      width: 95%;
    }
  }
  &-icons {
    &-meteor {
      @include FramesPosition(auto, auto, -15%, 10%);
    }
    &-star {
      @include FramesPosition(auto, 10%, -15%, auto);
    }
  }
  &-slick {
    width: 60%;
    padding-bottom: 72px;
    margin: 20px auto 0 auto;
    @include MD {
      width: 95%;
    }
  }
  &-slide {
    position: relative;
    .slick-list {
      padding: 32px 0;
    }
    &-item {
      @include FramesFlex(flex-end, center, row);
      &-quote {
        @include FramesPosition(-32px, auto, auto, 44.5px);
      }
      &-content {
        @include FramesFont(18px, 28px, 400, $font-secondary);
        text-align: center;
        background: #fff;
        border-radius: 16px;
        padding: 72px 32px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -75.5px;
      }
      &-next {
        right: -75.5px;
      }
    }
  }
  &-nav {
    margin-top: 16px;
    .slick-track {
      @include FramesFlex(center, center, row);
    }
    &-item {
      @include FramesFlex(center, center, column);
      display: flex !important;
      cursor: pointer;
      .slick-slide & {
        &-image {
          width: 128px;
          height: 128px;
          img {
            width: 100%;
            height: auto;
          }
        }
        &-name {
          @include FramesFont(22px, 36px, 700);
          color: #2576b9;
          margin-top: 16px;
          display: none;
        }
        &-local {
          @include FramesFont(15px, 24px, 400, $font-secondary);
          letter-spacing: 0.25px;
          color: #2576b9;
          margin-top: 4px;
          display: none;
        }
      }
      .slick-slide.slick-current & {
        &-image {
          width: 208px;
          height: 208px;
          border: 6px solid #2576b9;
          border-radius: 50%;
        }
        &-name {
          display: block;
        }
        &-local {
          display: block;
        }
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: 20px;
      }
      &-next {
        right: 20px;
      }
    }
  }
}

.ap-journey {
  width: 100%;
  position: relative;
  &-title {
    @include FramesFont(48px, 54px, 700);
    text-align: center;
    text-transform: uppercase;
    width: 65%;
    color: #2576b9;
    margin: 0 auto;
    margin-top: 48px;
    @include MD {
      width: 95%;
    }
  }
  &-tabs {
    @include FramesFlex(space-between, center, row);
    width: 75%;
    list-style-type: none;
    padding: 5px 0;
    margin: 0 auto;
    margin-top: 48px;
    overflow: scroll;
    @include MD {
      width: 95%;
    }
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    &-item {
      @include FramesFont(30px, 36px, 700);
      text-align: center;
      white-space: nowrap;
      position: relative;
      color: #2576b9;
      background-color: #fff;
      padding: 10px 32px;
      border: 1px solid #90a4ae;
      border-radius: 40px;
      z-index: 10;
      cursor: pointer;
      @include XL {
        margin-right: 20px;
      }
      &:after {
        @include FramesPosition(0, auto, 0, 100%);
        content: "";
        width: 100%;
        height: 1px;
        background-color: #90a4ae;
        margin: auto 0;
      }
      &:last-child:after {
        display: none;
      }
      &.active {
        color: #ffd95c;
        background-color: #2576b9;
      }
    }
  }
  &-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    @include MD {
      width: 95%;
    }
    &-tabs {
      @include FramesVisibleHidden;
      width: 80%;
      margin: auto;
      @include LG {
        width: 95%;
      }
      &.active {
        @include FramesVisibleShow;
      }
      &-title {
        @include FramesFont(48px, 54px, 700);
        @include FramesBigTextShadow(#fff, #eb9cc3);
        position: relative;
        &-bg {
          @include FramesPosition(8px, auto, auto, 4px);
          @include FramesBigTextShadow(#fff, #eb9cc3);
          width: calc(100% - 16px);
          margin: 0 auto;
          z-index: -1;
        }
        @include MD {
          font-size: 28px;
          text-align: center;
        }
      }
      &-text {
        @include FramesFont(18px, 28px, 400, $font-secondary);
        margin-top: 47px;
        @include MD {
          text-align: center;
        }
      }
    }
    &-images {
      @include FramesVisibleHidden;
      width: 90%;
      margin: auto;
      margin-top: 25px;
      img {
        width: 100%;
      }
      &.active {
        @include FramesVisibleShow;
      }
    }
  }
  &-wave {
    @include FramesBackgroundImage($image-wave2, cover, center);
    position: relative;
    width: 100%;
    height: 144px;
    img {
      width: 100%;
    }
    &-icon1 {
      @include FramesPosition(-60%, auto, auto, -130px);
      &.mobile {
        width: 160px;
        left: 0%;
      }
    }
    &-icon2 {
      @include FramesPosition(-5%, 5%, auto, auto);
      &.mobile {
        width: 100px;
        right: 6%;
      }
    }
  }
}

.ap-vision {
  width: 100%;
  margin-top: 110px;
  &-accordion {
    margin-top: 200px;
    @include MD {
      margin: 0 auto;
      margin-top: 60px;
    }
  }
  &-card {
    border-width: 0;
    background-color: transparent;
    &:after {
      content: "";
      width: 100%;
      border-bottom: 1.5px solid #90a4ae;
      margin: 24px auto;
      @include MD {
        width: 80%;
      }
    }
    &:last-child:after {
      border-width: 0;
    }
    &-title {
      @include FramesFont(48px, 54px, 700);
      text-transform: uppercase;
      color: #90a4ae;
      cursor: pointer;
      @include MD {
        text-align: center;
      }
      &[aria-expanded="true"] {
        color: #2576b9;
      }
    }
    &-content {
      @include FramesFont(48px, 54px, 700);
      @include FramesBigTextShadow(#2576b9, #ffd95c);
      position: relative;
      padding: 8px 8px;
      margin-top: 16px;
      margin-bottom: 35px;
      p {
        margin-left: 30px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 18px;
          height: 18px;
          background-color: #2576b9;
          border-radius: 50%;
          margin-top: 20px;
        }
      }
      &-bg {
        @include FramesPosition(23px, auto, auto, 14px);
        @include FramesBigTextShadow(#ffd95c, #ffd95c);
        width: calc(100% - 16px);
        margin: 0 auto;
        z-index: -1;
        p:before {
          display: none;
        }
      }
    }
    &-image {
      @include FramesFlex(flex-start, center);
      @include FramesVisibleHidden;
      height: 100%;
      margin: auto;
      margin-top: 30px;
      img {
        width: 100%;
      }
      &.active {
        @include FramesVisibleShow;
      }
    }
  }
  &-wave {
    @include FramesBackgroundImage($image-line1, contain);
    position: absolute;
    right: 0;
    width: 92%;
    height: 340px;
  }
}

.ap-teachers {
  width: 100%;
  margin-top: 114px;
  &-slick {
    width: 70%;
    margin: 0 auto;
    margin-top: 58px;
    @include MD {
      width: 95%;
    }
  }
  &-content {
    position: relative;
    padding-top: 128px;
    padding-bottom: 152px;
    background-color: #bcdaf2;
    &-title {
      @include FramesFont(48px, 54px, 700);
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      color: #2576b9;
      margin: auto;
      @include MD {
        width: 80%;
      }
    }
  }
  &-nav {
    margin-top: 16px;
    .slick-track {
      @include FramesFlex(center, flex-start, row);
    }
    &-item {
      @include FramesFlex(center, center, column);
      display: flex !important;
      cursor: pointer;
      &-image {
        width: 208px;
        height: 208px;
        border: 8px solid #2576b9;
        border-radius: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }
      &-name {
        @include FramesFont(30px, 120%, 700);
        color: #2576b9;
        margin-top: 16px;
      }
      &-local {
        @include FramesFont(20px, 120%, 400, $font-secondary);
        letter-spacing: 0.25px;
        color: #2576b9;
        margin-top: 8px;
      }
      &-content {
        @include FramesFont(14px, 19.6px, 400, $font-secondary);
        text-align: center;
        width: 75%;
        margin-top: 16px;
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -20px;
        @include MD {
          left: 20px;
        }
      }
      &-next {
        right: -20px;
        @include MD {
          right: 20px;
        }
      }
    }
  }
  &-icons {
    @include FramesBackgroundImage($image-stars, 90%, 145% -10%);
    @include FramesPosition(0, auto, auto, 50%);
    width: 70%;
    height: 100%;
    transform: translateX(-50%);
    opacity: 0.3;
    &-icon {
      position: absolute;
      img {
        width: 100%;
      }
    }
    &-pin {
      width: 103.53px;
      top: 120px;
    }
    &-pen {
      width: 51.49px;
      left: -100px;
      bottom: 200px;
    }
    &-zoom {
      width: 88.18px;
      bottom: 50px;
    }
    &-hat {
      width: 100px;
      right: -10%;
      bottom: 70px;
    }
    &-book {
      width: 116.63px;
      top: 50px;
      right: 0;
    }
  }
  &-wave-top {
    @include FramesBackgroundImage($image-wave3);
    width: 100%;
    height: 127.42px;
  }
  &-wave-bottom {
    @include FramesBackgroundImage($image-wave4);
    width: 100%;
    height: 144px;
  }
}

.ap-infrastructure {
  position: relative;
  padding-top: 80px;
  padding-bottom: 128px;
  &-title {
    @include FramesFont(48px, 54px, 700);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #2576b9;
    margin: auto;
    @include MD {
      width: 80%;
    }
  }
  &-slick {
    width: 65%;
    margin: 0 auto;
    margin-top: 42px;
    @include MD {
      width: 95%;
    }
  }
  &-slide {
    &-image {
      height: 432px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      @include MD {
        height: 343px;
      }
      img {
        width: 100%;
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -70px;
      }
      &-next {
        right: -70px;
      }
    }
  }
  &-nav {
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    @include MD {
      width: 80%;
    }
    &-image {
      height: 128px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 6px;
      border-radius: 10px;
      @include MD {
        height: 80px;
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -50px;
      }
      &-next {
        right: -50px;
      }
    }
  }
  &-icons {
    &-icon {
      position: absolute;
      img {
        width: 100%;
      }
    }
    &-trophy {
      width: 105px;
      left: 8%;
    }
    &-jar {
      width: 75px;
      right: 6%;
      bottom: 23%;
    }
    &-star1 {
      width: 21.53px;
      left: 12%;
      top: 30%;
    }
    &-star2 {
      width: 27.52px;
      top: 37%;
      right: 10%;
    }
  }
  &-wave {
    @include FramesBackgroundImage($image-line2, cover);
    position: absolute;
    right: 0;
    width: 100%;
    height: 361.63px;
  }
}

.ap-footer {
  position: relative;
  margin-top: 102px;
  &-wave {
    @include FramesBackgroundImage($image-line3, contain);
    @include FramesPosition(-62px, 0, 0, 15px);
    width: 87%;
    height: 565px;
    transform: rotate(-4deg);
  }
  &-background {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  &-stars {
    @include FramesPosition(-100px, auto, auto, 5%);
    img {
      width: 100%;
    }
  }
  &-top {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    &-badge {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 250px;
      &-bg {
        position: absolute;
        z-index: -1;
      }
      &-content {
        position: absolute;

        &.top {
          width: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          top: 100px;
        }
        &.top &-title {
          text-align: center;
        }
        &.center {
          width: 56%;
          left: 23.5%;
          top: 225px;
        }
        &.bottom {
          width: 66%;
          left: 16.5%;
          top: 400px;
        }
        &-double {
          display: flex;
          justify-content: space-between;
          align-items: center;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &-double div:first-child &-title {
          text-align: right;
        }
        &-double div:first-child &-icon {
          margin-left: 16px;
        }
        &-double div:last-child &-icon {
          margin-right: 16px;
        }
        &-title {
          @include FramesFont(20px, 28px, 700);
          letter-spacing: 0.15px;
          color: #fff;
        }
      }
    }
  }
}
