.ap-header {
  width: 100%;
  min-height: 964px;
  font-family: "Brauer NeueVN", sans-serif;
  background-image: url(../images/banner-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .ap-header .navbar-toggler:focus {
    outline: none; }
  .ap-header .nav-item {
    padding: 5px 0;
    margin: 0 15px; }
    .ap-header .nav-item .nav-link {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.15px; }
      .ap-header .nav-item .nav-link.dropdown-toggle::after {
        display: none; }
    .ap-header .nav-item:hover {
      background-color: #fff;
      border-radius: 8px 8px 0px 0px;
      color: #263238; }
      .ap-header .nav-item:hover .dropdown-menu,
      .ap-header .nav-item:hover .dropdown-menu:hover,
      .ap-header .nav-item:hover .dropdown-submenu:hover ul.dropdown-menu {
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important; }
      .ap-header .nav-item:hover a.nav-link {
        color: #2576b9; }
    .ap-header .nav-item.dropdown .dropdown-submenu:hover ul.dropdown-menu {
      left: 100%; }
    .ap-header .nav-item.dropdown .dropdown-item {
      font-weight: 500;
      padding-top: 14px;
      padding-bottom: 14px;
      border-radius: 10px; }
      .ap-header .nav-item.dropdown .dropdown-item:hover {
        color: #2576b9;
        background-color: #e3f0f9; }
    .ap-header .nav-item.dropdown .dropdown-menu {
      padding: 0;
      border-width: 0;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-top-width: 3px;
      border-top-color: transparent;
      box-shadow: 0 8px 16px #00000026;
      margin: 0; }
  .ap-header-container {
    width: 90%;
    margin: auto;
    padding: 20px 0; }
    @media screen and (max-width: 991px) {
      .ap-header-container {
        width: 90%; } }
  .ap-header-btn-login {
    align-items: center;
    background-color: #ffd95c;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    color: #2576b9;
    display: flex;
    padding: 12px 24px;
    text-transform: uppercase; }
    .ap-header-btn-login:hover {
      text-decoration: none; }
    .ap-header-btn-login:focus {
      outline: none; }
  .ap-header-wave {
    width: 100%;
    height: 140px;
    background-image: url(../images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0; }
  .ap-header-dropdown-special {
    color: #e94286; }

.ap-feedback {
  width: 100%;
  height: 904px;
  font-family: "Brauer NeueVN", sans-serif;
  background-color: #bcdaf2; }
  .ap-feedback-box {
    position: relative;
    padding-top: 72px;
    margin: 0 auto; }
  .ap-feedback-title {
    width: 983px;
    color: #2576b9;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0 auto; }
  .ap-feedback-icon-meteor {
    position: absolute;
    bottom: -15%;
    left: 10%; }
  .ap-feedback-icon-double-star {
    position: absolute;
    bottom: -15%;
    right: 10%; }
  .ap-feedback-slick {
    width: 912px;
    font-family: "Montserrat", sans-serif;
    margin: 20px auto 0 auto; }
  .ap-feedback-slide {
    position: relative; }
    .ap-feedback-slide .slick-list {
      padding: 32px 0; }
    .ap-feedback-slide-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      .ap-feedback-slide-item-quote {
        position: absolute;
        top: -32px;
        left: 44.5px; }
      .ap-feedback-slide-item-content {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        padding: 72px 32px;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); }
    .ap-feedback-slide-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer; }
      .ap-feedback-slide-arrow-prev {
        left: -55.5px; }
      .ap-feedback-slide-arrow-next {
        right: -55.5px; }
  .ap-feedback-nav {
    margin-top: 16px; }
    .ap-feedback-nav .slick-track {
      display: flex;
      justify-content: center;
      align-items: center; }
    .ap-feedback-nav-item {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .slick-current .ap-feedback-nav-item-image {
        width: 208px;
        height: 208px;
        border-width: 8px;
        border-radius: 50%;
        border: 6px solid #2576b9; }
      .slick-current .ap-feedback-nav-item-name {
        display: block; }
      .slick-current .ap-feedback-nav-item-local {
        display: block; }
      .ap-feedback-nav-item-image {
        width: 128px;
        height: 128px; }
        .ap-feedback-nav-item-image img {
          width: 100%;
          height: auto; }
      .ap-feedback-nav-item-name {
        color: #2576b9;
        font-family: "Brauer NeueVN", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        margin-top: 16px;
        display: none; }
      .ap-feedback-nav-item-local {
        color: #2576b9;
        font-size: 12px;
        letter-spacing: 0.25px;
        line-height: 120%;
        margin-top: 4px;
        display: none; }

/*# sourceMappingURL=styles.css.map */
