.ap-header {
  width: 100%;
  min-height: 964px;
  font-family: "Brauer NeueVN", sans-serif;
  background-image: url(../images/banner-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  .navbar-toggler:focus {
    outline: none;
  }
  .nav-item {
    padding: 5px 0;
    margin: 0 15px;
    .nav-link {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.15px;
      &.dropdown-toggle::after {
        display: none;
      }
    }
    &:hover {
      background-color: #fff;
      border-radius: 8px 8px 0px 0px;
      color: #263238;
      .dropdown-menu,
      .dropdown-menu:hover,
      .dropdown-submenu:hover ul.dropdown-menu {
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
      }
      a.nav-link {
        color: #2576b9;
      }
    }
    &.dropdown {
      .dropdown-submenu:hover ul.dropdown-menu {
        left: 100%;
      }
      .dropdown-item {
        font-weight: 500;
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 10px;
        &:hover {
          color: #2576b9;
          background-color: #e3f0f9;
        }
      }
      .dropdown-menu {
        padding: 0;
        border-width: 0;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-width: 3px;
        border-top-color: transparent;
        box-shadow: 0 8px 16px #00000026;
        margin: 0;
      }
    }
  }
  &-container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    @media screen and (max-width: 991px) {
      width: 90%;
    }
  }
  &-btn-login {
    align-items: center;
    background-color: #ffd95c;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    color: #2576b9;
    display: flex;
    padding: 12px 24px;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  &-dropdown-special {
    color: #e94286;
  }
  &-wave {
    width: 100%;
    height: 140px;
    background-image: url(../images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
  }
}

.ap-feedback {
  width: 100%;
  font-family: "Brauer NeueVN", sans-serif;
  background-color: #bcdaf2;
  position: relative;
  &-box {
    position: relative;
    padding-top: 72px;
    margin: 0 auto;
  }
  &-title {
    width: 65%;
    color: #2576b9;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
  &-icon {
    &-meteor {
      position: absolute;
      bottom: -15%;
      left: 8%;
    }
    &-double-star {
      position: absolute;
      bottom: -15%;
      right: 8%;
    }
  }
  &-slick {
    width: 60%;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 72px;
    margin: 20px auto 0 auto;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
  &-slide {
    position: relative;
    .slick-list {
      padding: 32px 0;
    }
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-quote {
        position: absolute;
        top: -32px;
        left: 44.5px;
      }
      &-content {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        padding: 72px 32px;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: -55.5px;
      }
      &-next {
        right: -55.5px;
      }
    }
  }
  &-nav {
    margin-top: 16px;
    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-item {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .slick-current & {
        &-image {
          width: 208px;
          height: 208px;
          border-width: 8px;
          border-radius: 50%;
          border: 6px solid #2576b9;
        }
        &-name {
          display: block;
        }
        &-local {
          display: block;
        }
      }
      &-image {
        width: 128px;
        height: 128px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &-name {
        color: #2576b9;
        font-family: "Brauer NeueVN", sans-serif;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;
        margin-top: 16px;
        display: none;
      }
      &-local {
        color: #2576b9;
        font-size: 15px;
        letter-spacing: 0.25px;
        line-height: 120%;
        margin-top: 4px;
        display: none;
      }
    }
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      &-prev {
        left: 20px;
      }
      &-next {
        right: 20px;
      }
    }
  }
}

.ap-journey {
  width: 100%;
  font-family: "Brauer NeueVN", sans-serif;
  position: relative;
  &-title {
    width: 65%;
    color: #2576b9;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    margin: 48px auto 0 auto;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
  &-tabs {
    width: 75%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 48px auto 0 auto;
    overflow: scroll;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    &-item {
      color: #2576b9;
      background-color: #fff;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      padding: 10px 32px;
      border: 1px solid #90a4ae;
      border-radius: 40px;
      white-space: nowrap;
      z-index: 10;
      position: relative;
      cursor: pointer;
      @media screen and (max-width: 1200px) {
        margin-right: 20px;
      }
      &:after {
        content: "";
        height: 1px;
        background-color: #90a4ae;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 100%;
      }
      &:last-child:after {
        display: none;
      }
      &-active {
        color: #ffd95c;
        background-color: #2576b9;
      }
    }
  }
  &-content {
    width: 80%;
    margin: 40px auto 0 auto;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
    &-tabs {
      width: 80%;
      margin: auto;
      @media screen and (max-width: 992px) {
        width: 95%;
      }
      &-title {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        text-shadow: #eb9cc3 9px 0 0, #eb9cc3 8.9445px 0.997944px 0,
          #eb9cc3 8.77869px 1.98358px 0, #eb9cc3 8.50461px 2.94475px 0,
          #eb9cc3 8.12565px 3.86961px 0, #eb9cc3 7.64647px 4.74674px 0,
          #eb9cc3 7.07299px 5.56533px 0, #eb9cc3 6.41227px 6.31528px 0,
          #eb9cc3 5.67248px 6.98735px 0, #eb9cc3 4.86272px 7.57324px 0,
          #eb9cc3 3.99299px 8.06573px 0, #eb9cc3 3.07402px 8.45875px 0,
          #eb9cc3 2.11714px 8.74744px 0, #eb9cc3 1.13414px 8.92825px 0,
          #eb9cc3 0.137162px 8.99895px 0, #eb9cc3 -0.861512px 8.95867px 0,
          #eb9cc3 -1.84956px 8.8079px 0, #eb9cc3 -2.8148px 8.5485px 0,
          #eb9cc3 -3.74532px 8.18368px 0, #eb9cc3 -4.62965px 7.71792px 0,
          #eb9cc3 -5.45689px 7.15698px 0, #eb9cc3 -6.21682px 6.50777px 0,
          #eb9cc3 -6.90009px 5.77831px 0, #eb9cc3 -7.49825px 4.97757px 0,
          #eb9cc3 -8.00394px 4.11545px 0, #eb9cc3 -8.41092px 3.20258px 0,
          #eb9cc3 -8.71416px 2.2502px 0, #eb9cc3 -8.90993px 1.27008px 0,
          #eb9cc3 -8.99582px 0.274291px 0, #eb9cc3 -8.97076px -0.72488px 0,
          #eb9cc3 -8.83507px -1.71511px 0, #eb9cc3 -8.59041px -2.68419px 0,
          #eb9cc3 -8.23981px -3.62017px 0, #eb9cc3 -7.78758px -4.51149px 0,
          #eb9cc3 -7.23931px -5.34718px 0, #eb9cc3 -6.60176px -6.11692px 0,
          #eb9cc3 -5.88279px -6.81122px 0, #eb9cc3 -5.09127px -7.42152px 0,
          #eb9cc3 -4.23696px -7.94029px 0, #eb9cc3 -3.33039px -8.36113px 0,
          #eb9cc3 -2.38275px -8.67885px 0, #eb9cc3 -1.40572px -8.88954px 0,
          #eb9cc3 -0.411357px -8.99059px 0, #eb9cc3 0.58808px -8.98077px 0,
          #eb9cc3 1.58026px -8.86018px 0, #eb9cc3 2.55296px -8.63032px 0,
          #eb9cc3 3.49417px -8.29402px 0, #eb9cc3 4.39229px -7.85543px 0,
          #eb9cc3 5.23623px -7.31996px 0, #eb9cc3 6.0156px -6.69422px 0,
          #eb9cc3 6.72078px -5.98591px 0, #eb9cc3 7.34307px -5.20378px 0,
          #eb9cc3 7.87479px -4.35748px 0, #eb9cc3 8.3094px -3.45743px 0,
          #eb9cc3 8.64153px -2.51474px 0, #eb9cc3 8.86709px -1.54104px 0,
          #eb9cc3 8.98328px -0.548328px 0;
        @media screen and (max-width: 768px) {
          font-size: 28px;
          text-align: center;
        }
      }
      &-text {
        font-family: "Montserrat", sans-serif;
        line-height: 28px;
        margin-top: 47px;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
    &-images {
      width: 90%;
      margin: auto;
      position: relative;
      margin-top: 25px;
      &-image {
        width: 112%;
        transform: translateX(-6%);
      }
      &-background {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      &-bulb {
        width: 20%;
        position: absolute;
        top: 2%;
        left: 1%;
      }
      &-star {
        width: 15%;
        position: absolute;
        top: -7%;
        left: 59%;
      }
      &-trophy {
        width: 13%;
        position: absolute;
        top: 22%;
        right: 1%;
      }
    }
  }
  &-wave {
    width: 100%;
    height: 144px;
    background-image: url(../images/wave-journey.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.ap-vision {
  font-family: "Brauer NeueVN", sans-serif;
  margin-top: 110px;
  &-accordion {
    width: 90%;
    margin-top: 200px;
    @media screen and (max-width: 768px) {
      margin: 60px auto 0 auto;
    }
  }
  &-card {
    border-width: 0;
    background-color: transparent;
    &:after {
      content: "";
      width: 100%;
      border-bottom: 1.5px solid #90a4ae;
      margin: 12px auto;
      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
    &:last-child:after {
      border-width: 0;
    }
    &-title {
      color: #2576b9;
      font-size: 38px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
      &.collapsed {
        color: #90a4ae;
      }
    }
    &-content {
      position: relative;
      color: #2576b9;
      font-size: 38px;
      font-weight: 700;
      line-height: 54px;
      padding: 8px 8px;
      margin-bottom: 35px;
      text-shadow: #ffd95c 9px 0 0, #ffd95c 8.9445px 0.997944px 0,
        #ffd95c 8.77869px 1.98358px 0, #ffd95c 8.50461px 2.94475px 0,
        #ffd95c 8.12565px 3.86961px 0, #ffd95c 7.64647px 4.74674px 0,
        #ffd95c 7.07299px 5.56533px 0, #ffd95c 6.41227px 6.31528px 0,
        #ffd95c 5.67248px 6.98735px 0, #ffd95c 4.86272px 7.57324px 0,
        #ffd95c 3.99299px 8.06573px 0, #ffd95c 3.07402px 8.45875px 0,
        #ffd95c 2.11714px 8.74744px 0, #ffd95c 1.13414px 8.92825px 0,
        #ffd95c 0.137162px 8.99895px 0, #ffd95c -0.861512px 8.95867px 0,
        #ffd95c -1.84956px 8.8079px 0, #ffd95c -2.8148px 8.5485px 0,
        #ffd95c -3.74532px 8.18368px 0, #ffd95c -4.62965px 7.71792px 0,
        #ffd95c -5.45689px 7.15698px 0, #ffd95c -6.21682px 6.50777px 0,
        #ffd95c -6.90009px 5.77831px 0, #ffd95c -7.49825px 4.97757px 0,
        #ffd95c -8.00394px 4.11545px 0, #ffd95c -8.41092px 3.20258px 0,
        #ffd95c -8.71416px 2.2502px 0, #ffd95c -8.90993px 1.27008px 0,
        #ffd95c -8.99582px 0.274291px 0, #ffd95c -8.97076px -0.72488px 0,
        #ffd95c -8.83507px -1.71511px 0, #ffd95c -8.59041px -2.68419px 0,
        #ffd95c -8.23981px -3.62017px 0, #ffd95c -7.78758px -4.51149px 0,
        #ffd95c -7.23931px -5.34718px 0, #ffd95c -6.60176px -6.11692px 0,
        #ffd95c -5.88279px -6.81122px 0, #ffd95c -5.09127px -7.42152px 0,
        #ffd95c -4.23696px -7.94029px 0, #ffd95c -3.33039px -8.36113px 0,
        #ffd95c -2.38275px -8.67885px 0, #ffd95c -1.40572px -8.88954px 0,
        #ffd95c -0.411357px -8.99059px 0, #ffd95c 0.58808px -8.98077px 0,
        #ffd95c 1.58026px -8.86018px 0, #ffd95c 2.55296px -8.63032px 0,
        #ffd95c 3.49417px -8.29402px 0, #ffd95c 4.39229px -7.85543px 0,
        #ffd95c 5.23623px -7.31996px 0, #ffd95c 6.0156px -6.69422px 0,
        #ffd95c 6.72078px -5.98591px 0, #ffd95c 7.34307px -5.20378px 0,
        #ffd95c 7.87479px -4.35748px 0, #ffd95c 8.3094px -3.45743px 0,
        #ffd95c 8.64153px -2.51474px 0, #ffd95c 8.86709px -1.54104px 0,
        #ffd95c 8.98328px -0.548328px 0;
      &-bg {
        position: absolute;
        top: 23px;
        left: 14px;
        width: calc(100% - 16px);
        margin: 0 auto;
        z-index: -1;
        color: #ffd95c;
        text-shadow: #ffd95c 9px 0 0, #ffd95c 8.9445px 0.997944px 0,
          #ffd95c 8.77869px 1.98358px 0, #ffd95c 8.50461px 2.94475px 0,
          #ffd95c 8.12565px 3.86961px 0, #ffd95c 7.64647px 4.74674px 0,
          #ffd95c 7.07299px 5.56533px 0, #ffd95c 6.41227px 6.31528px 0,
          #ffd95c 5.67248px 6.98735px 0, #ffd95c 4.86272px 7.57324px 0,
          #ffd95c 3.99299px 8.06573px 0, #ffd95c 3.07402px 8.45875px 0,
          #ffd95c 2.11714px 8.74744px 0, #ffd95c 1.13414px 8.92825px 0,
          #ffd95c 0.137162px 8.99895px 0, #ffd95c -0.861512px 8.95867px 0,
          #ffd95c -1.84956px 8.8079px 0, #ffd95c -2.8148px 8.5485px 0,
          #ffd95c -3.74532px 8.18368px 0, #ffd95c -4.62965px 7.71792px 0,
          #ffd95c -5.45689px 7.15698px 0, #ffd95c -6.21682px 6.50777px 0,
          #ffd95c -6.90009px 5.77831px 0, #ffd95c -7.49825px 4.97757px 0,
          #ffd95c -8.00394px 4.11545px 0, #ffd95c -8.41092px 3.20258px 0,
          #ffd95c -8.71416px 2.2502px 0, #ffd95c -8.90993px 1.27008px 0,
          #ffd95c -8.99582px 0.274291px 0, #ffd95c -8.97076px -0.72488px 0,
          #ffd95c -8.83507px -1.71511px 0, #ffd95c -8.59041px -2.68419px 0,
          #ffd95c -8.23981px -3.62017px 0, #ffd95c -7.78758px -4.51149px 0,
          #ffd95c -7.23931px -5.34718px 0, #ffd95c -6.60176px -6.11692px 0,
          #ffd95c -5.88279px -6.81122px 0, #ffd95c -5.09127px -7.42152px 0,
          #ffd95c -4.23696px -7.94029px 0, #ffd95c -3.33039px -8.36113px 0,
          #ffd95c -2.38275px -8.67885px 0, #ffd95c -1.40572px -8.88954px 0,
          #ffd95c -0.411357px -8.99059px 0, #ffd95c 0.58808px -8.98077px 0,
          #ffd95c 1.58026px -8.86018px 0, #ffd95c 2.55296px -8.63032px 0,
          #ffd95c 3.49417px -8.29402px 0, #ffd95c 4.39229px -7.85543px 0,
          #ffd95c 5.23623px -7.31996px 0, #ffd95c 6.0156px -6.69422px 0,
          #ffd95c 6.72078px -5.98591px 0, #ffd95c 7.34307px -5.20378px 0,
          #ffd95c 7.87479px -4.35748px 0, #ffd95c 8.3094px -3.45743px 0,
          #ffd95c 8.64153px -2.51474px 0, #ffd95c 8.86709px -1.54104px 0,
          #ffd95c 8.98328px -0.548328px 0;
      }
    }
  }
  &-image {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    img {
      width: 100%;
    }
  }
  &-wave {
    width: 92%;
    height: 340px;
    background-image: url(../images/line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
  }
}
